/vendor/
node_modules/
npm-debug.log
yarn-error.log
composer.phar
composer.lock
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
public/css
public/js
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea
